* {
    margin: 0;
    padding: 0;
}
body{ 
    background: #c4876c url(../images/bg-top.jpg) repeat-x scroll center top;
    font-family:tahoma;
    font-size: 11px;
    color:#000;
}
a {	
    text-decoration:none;
    color:#764936;
}
img {
    border:0px;
}	
p, form {
    margin:0;
    padding:0;
}
ul, ol {
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
    margin:0;
    padding:0;
}
li {
    margin:0;
    padding:0;
}

/*++++++Container+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.wrapper{ 
    background: transparent url(../images/bg-bot.jpg) no-repeat scroll center bottom; text-align:left;
}
.container{ width: 1002px; margin: 0 auto; margin-top:20px;
            background: #ffffff url(../images/bg-site.jpg) no-repeat scroll center top;}
.ColumnLeft{
    width:250px;
    margin: 5px 10px 10px 10px;
    float:left;
}	
.ColumnRight{
    margin: 5px 10px 10px 0px;
    float:left;
    width: 720px;
}
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.Top { height: 140px; background: #f7f3d6;}
.logo { margin: 5px 20px 10px 30px; float:left;}
.CompanyName { float:left; color:#bf0103;font-family:Arial, Helvetica, sans-serif; font-weight:bold; font-size:20px; margin: 40px 10px 40px 10px;}
.TitleLeft1 { 
    font-family: tahoma; font-weight:bold; text-transform:uppercase; color:#025A9A; font-size:13px;
    margin-bottom:10px;
}
.TitleLeft { 
    font-family: tahoma; font-weight:bold; text-transform:uppercase; color:#025A9A; font-size:13px;
    margin-bottom:10px;
    margin: 10px 10px 10px 10px;
    width: 230px;
}
.BoxLeft{
    margin-top: 8px;
    border: solid 1px #AEAEAE;
    background:#F5F1F0;	
    float:left;
}
.BoxRight{
    margin-top: 8px;
    border: solid 1px #AEAEAE;
    background:#F5F1F0;	
    float:left;	
    width:720px;
}
.BoxRightCL{
    width:14px;
    height:36px;
    background:#F5F1F0 url(../images/TitleBgL.jpg) no-repeat top left;
    float:left;
}
.BoxRightCC{
    height:36px;
    background:#F5F1F0 url(../images/TitleBgC.jpg) repeat-x top;
    float:left;
    padding: 15px 10px 0px 10px;
    font-weight:bold;
    color:#CB1106;
}
.BoxRightCR{
    width:4px;
    height:36px;
    background:#F5F1F0 url(../images/TitleBgR.jpg) no-repeat top right;
    float:left;	
}
.BorderBottom
{   
    border-bottom: solid 1px #A64F27;
    height:35px;
}
#hot {
    margin: 10px;
}
.news_title{
    margin-bottom:10px;
}
.hot-new1 img{
    border-color:#933502;border-width:3px;border-style:Solid;
    float: left;
    margin-right: 10px;
    padding: 1px;
    width: 300px;
}
.hot-new1 {
    color: #000000;
    float: left;
    margin-right: 15px;
    width: 100%;
}
.hot-new1 a {
    color: #000000;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 22px;
    font-weight: bold;
}

.hot-new1 p {
    margin-top: 15px;
}
.news-left1 img {
    float: left;
    margin-bottom: 10px;
    margin-right: 10px;
    max-height: 120px;
    overflow: hidden;
    width: 150px;
}
.news-left1 a {
    color: #000;
    font-size: 12px;
    font-weight: bold;
}
.NewsItem{
    padding: 10px 10px 10px 10px;
    line-height: 20px;
}
.NewsItem img{
    margin: 0 10px 10px 0px;
}
.Detail a{
    color:#FF0000;
    font-weight:bold;
}
.Detail a:hover{
    text-decoration:underline;
}
.HotNewsItem{
    width: 210px;
    margin:0px 10px 0px 10px;
    padding: 4px 10px 7px 10px;
    background:#F5F1F0 url(../images/Bullet.jpg) no-repeat left;
}
.HotNewsItem a:hover{
    text-decoration:underline;
}
.advItem{
    margin: 10px 10px 10px 15px;
}
.footer{
    background:#f7f3d6;
    height:110px;
    margin-bottom:15px;
    line-height: 20px;
    padding: 15px 10px 10px 270px;
    margin-top: 10px;
}
/*+++++++++++++++++++++++++++++MenuL++++++++++++++++++++++++++++*/
.copyright{
    font-weight:bold;
    height: 10px;
    padding: 10px 10px 10px 0px;
    text-align:right;
    color:#a74e27;
}

#DivMenu UL LI {
    FLOAT: left;
}
#DivMenu LI A 
{
    font-weight:bold;
    border-top: solid 1px #ccc;
    width: 220px;	
    margin:0px 10px 0px 10px;
    padding: 10px 10px 10px 0px;		   
    background:#F5F1F0 url(../images/arrow.jpg) no-repeat right;
    display:block;		
}
#DivMenu LI A:hover {
    text-decoration: none;
    background:#fff url(../images/arrow.jpg) no-repeat right;
    color:#060;
    display:block;
}

#DivMenu UL LI UL {
    MARGIN-TOP: -21px; DISPLAY: none; POSITION: absolute
}
#DivMenu LI A:link{
    display: block;	
}
/*+++++++++++++++++++++++++++++End MenuL++++++++++++++++++++++++++++*/
/*+++++++++++++++++++++++++++++Product++++++++++++++++++++++++++++*/
.ProItem{
    float: left;
    height: 200px;
    margin: 10px 10px 10px 42px;
    width: 120px;
}
.ProItem img{
    height: 140px;
    margin: 10px 10px 10px 0;
    width: 90px;
}
.MayXuc{
    margin: 10px 0px 10px 42px;
    float:left;
    width:190px;
}

.MayXuc img{
    margin: 10px 0px 10px 0px;
    width: 180px;
}

/*+++++++++++++++++++++++++++++End Product++++++++++++++++++++++++++++*/
/*+++++++++++++++++++++++++++++Linh Vuc Kinh Doanh++++++++++++++++++++++++++++*/
.CSSmenu {
    font-size: 11px;
    border-bottom: 1px solid #E4E4E4;
    height:44px;
    text-align:left;
}
.CSSmenu A {
    display:block; background: url(../images/icon-1.jpg) no-repeat scroll 5px 50%;
    font-weight:bold;
    height:29px;
    padding: 15px 0 0 55px;
    color: #6f4934;
}
.CSSmenu A:hover {
    display:block; background: url(../images/icon-1a.jpg) #EAEAEA no-repeat scroll 5px 50%;
    height:29px;
    color:#00528e;
    padding: 15px 0 0 55px;
    text-decoration:underline;
}
.CSSmenu1 {
    font-size: 11px;
    border-bottom: 1px solid #E4E4E4;
    height:44px;
    text-align:left;
}
.CSSmenu1 A {
    display:block; background: url(../images/icon-2.jpg) no-repeat scroll 5px 50%;
    font-weight:bold;
    height:29px;
    padding: 15px 0 0 55px;
    color: #6f4934;
}
.CSSmenu1 A:hover {
    display:block; background: url(../images/icon-2a.jpg) #EAEAEA no-repeat scroll 5px 50%;
    height:29px;
    color:#00528e;
    padding: 15px 0 0 55px;
    text-decoration:underline;
}
.CSSmenu2 {
    font-size: 11px;
    border-bottom: 1px solid #E4E4E4;
    height:44px;
    text-align:left;
}
.CSSmenu2 A {
    display:block; background: url(../images/icon-3.jpg) no-repeat scroll 5px 50%;
    font-weight:bold;
    height:29px;
    padding: 15px 0 0 55px;
    color: #6f4934;
}
.CSSmenu2 A:hover {
    display:block; background: url(../images/icon-3a.jpg) #EAEAEA no-repeat scroll 5px 50%;
    height:29px;
    color:#00528e;
    padding: 15px 0 0 55px;
    text-decoration:underline;
}
.CSSmenu3 {
    font-size: 11px;
    border-bottom: 1px solid #E4E4E4;
    height:44px;
    text-align:left;
}
.CSSmenu3 A {
    display:block; background: url(../images/icon-4.jpg) no-repeat scroll 5px 50%;
    font-weight:bold;
    height:29px;
    padding: 15px 0 0 55px;
    color: #6f4934;
}
.CSSmenu3 A:hover {
    display:block; background: url(../images/icon-4a.jpg) #EAEAEA no-repeat scroll 5px 50%;
    height:29px;
    color:#00528e;
    padding: 15px 0 0 55px;
    text-decoration:underline;
}
.CSSmenu4 {
    font-size: 11px;
    border-bottom: 1px solid #E4E4E4;
    height:45px;
    text-align:left;
}
.CSSmenu4 A {
    display:block; background: url(../images/icon-5.jpg) no-repeat scroll 5px 50%;
    font-weight:bold;
    height:30px;
    padding: 15px 0 0 55px;
    color: #6f4934;
}
.CSSmenu4 A:hover {
    display:block; background: url(../images/icon-5a.jpg) #EAEAEA no-repeat scroll 5px 50%;
    height:30px;
    color:#00528e;
    padding: 15px 0 0 55px;
    text-decoration:underline;
}
.CSSmenu5 {
    font-size: 11px;
    height:45px;
    text-align:left;
}
.CSSmenu5 A {
    display:block; background: url(../images/icon-6.jpg) no-repeat scroll 5px 50%;
    font-weight:bold;
    height:30px;
    padding: 15px 0 0 55px;
    color: #6f4934;
}
.CSSmenu5 A:hover {
    display:block; background: url(../images/icon-6a.jpg) #EAEAEA no-repeat scroll 5px 50%;
    height:30px;
    color:#00528e;
    padding: 15px 0 0 55px;
    text-decoration:underline;
}
/*++++++++++++++++++++++++++++++=End Linh Vuc Kinh Doanh+++++++++++++++++++++++++++++*/
.feed-back-content{
    width: 600px !important;
    height: 150px !important;
}
.input-text{
    width: 300px;
    height: 22px;
}
.lblFeedback {
    margin: 10px 0 5px 0;
}
.LogoItem {
    float: left;
    height: 140px;
    margin: 10px 10px 10px 20px;
    width: 140px;
}
.LogoItem img {
    height: 120px;
    margin: 10px 10px 10px 0;
    width: 120px;
}