HTML, BODY {
    background-color:#008c35; 
    font: 12px Arial, Tahoma, Verdana, Helvetica, sans-serif; 
    color: #2c2c2c; 
    margin: 0;
}
a {
    text-decoration:none;
    color: #2c2c2c;
}

img {
    border:0;
}
p {
    line-height: 20px;
}
h1{
    font-size: 12px;
    color: #b66901;
}
hr {
    border: 0 none;  
    color: #b66901;
    background-color: #b66901;         
    height: 1px;     
}
/* Common */
.fl{
    float: left;
}
.fr{
    float: right;
}
.clr{
    clear: both; 
}
/* Layout */
.wrapper{
    width: 100%;
}
.container{
    width: 1000px;
    margin: 0 auto;
    background: #ffffff;
}
.main_body{
    width: 980px;
    margin: 10px auto;        
}
.right_panel{
    width: 720px;
    margin: 0 0 0 10px;
}
.main_content{
    margin: 0 0 20px 0;
}
/* End layout */
/* header content */
.banner img{
    width: 700px;
    height: 160px;
    margin: 5px 0 5px 20px;
    position:relative;
}
.banner{
    width: 730px;
    height: 190px;
    margin: 5px 0 0 20px;
}
.logo img{
    width: 230px;
    height: 190px;
    margin: 5px 0 5px 10px;
}
.top{
    height: 200px;
}
/* End header content */
/* main menu */
.main_menu{
    background: url(../images/menu_bg.jpg) repeat-x;
    width: 980px;
    margin: 0 auto;
    height: 26px;
    font-family: Tahoma;
    font-size: 10px;
}
.main_menu ul{
    list-style-type:none;
    padding:0px;
    margin:0px 20px;
}

.main_menu ul li{
    display:inline;
}

.main_menu ul a{
    text-decoration:none;
    float:left;
    color:#ffffff;
    text-transform: uppercase;
    font-weight:bold;
    text-align:center;
    line-height:26px;    
    padding: 0 10px;
}
.main_menu ul li img{
    float: left;
}
.main_menu .active a{
    background: yellow;    
    background: url(../images/menu_active.jpg) repeat-x;
    padding: 0 10px;
}
/* box_title */
.left_box_title{
    width: 21px;
    height: 23px;    
    background: #02a21a url(../images/left_box_title.jpg) no-repeat;    
}
.left_block{
    width: 240px;
    border: solid 1px #cccccc;
    box-shadow: 1px 1px 1px 1px #cccccc;
}
.title_box{
    border: solid 1px #ffffff;
    background: #02a21a url(../images/box_title_bg.jpg) repeat-x;
    height: 23px;
    line-height: 23px;
    color: #ffffff;
    font-family: Tahoma;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 10px;
}
.left_box_list ul{
    list-style-image: url(../images/bullet.jpg);
    margin: 0;
    padding: 5px 0 0 0px;        
}

.left_box_list ul li {
    margin: 8px 0 8px 30px;
    border-bottom: dotted 1px #ccc;    
    padding: 0 0 8px 0;
}
/* box_news */
.news_box_title{
    width: 21px;
    height: 23px;    
    background: #02a21a url(../images/news_box_title.jpg) no-repeat;    
}
.news_block{
    width: 208px;
    border: solid 1px #cccccc;
    box-shadow: 1px 1px 1px 1px #cccccc;
    margin: 0 0 0 10px;
}
.title_box_news{
    border: solid 1px #ffffff;
    background: #02a21a url(../images/box_title_news_bg.jpg) repeat-x;
    height: 23px;
    line-height: 23px;
    color: #ffffff;
    font-family: Tahoma;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 10px;
}
.news_box_list ul{
    /*list-style-image: url(../images/bullet.jpg);*/
    list-style: square;
    margin: 0;
    padding: 5px 0 0 0px;        
}

.news_box_list ul li {
    margin: 8px 0 8px 30px;
    border-bottom: dotted 1px #ccc;    
    padding: 0 0 8px 0;
}
/* right content */
.images_library{
    width: 500px;
}
.img_item img{
    width: 140px;
    margin: 10px 25px 0 0;
}
/* footer */
.footer{
    width: 980px;
    margin: 0 auto;
}
.footer_info img{
    float: left;
    margin: 10px;
}
.footer_info p{
    font-weight: normal;
}